@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
#cardHolder {
  display: flex;

  justify-content: space-evenly;
  background-color: white;
  height: 600px;
  width: 1000px;
  border-radius: 8px;
  margin: auto;
  margin-top: 80px;
font-family: 'Ubuntu', sans-serif;
  border-color: blue;
}

